.animated-button {
    background-color: primary;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: upDown 2s ease-in-out infinite; /* Apply the animation */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }

  .animated-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  @keyframes upDown {
    0%, 100% {
      transform: translateY(0); /* Start and end at the original position */
    }
    50% {
      transform: translateY(-10px); /* Move up slightly */
    }
  }


  .phrase-slide{
      width: 80%;
      animation: upDown 2s ease-in-out infinite; /* Apply the animation */
      margin: 0 auto 30px auto;
      color: whitesmoke;
  
  }

  /* .carousel img{
    -webkit-filter: blur(3px);
  filter: blur(3px);
  } */