.footer {
    position: relative;
    width: 100%;
    height: 200px; 
    background-color: rgba(209, 72, 186, 0.267);
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.font{
    font-family: sans-serif;
}

.underline{
    width: 1000px; /* Initial width of the point */
    height: 1px; /* Initial height of the point */
    background-color: rgb(225, 0, 255); /* Color of the point/line */
}